backports.functools-lru-cache==1.5
bcrypt==3.1.4
Beaker==1.10.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cheroot==6.5.2
funcsigs==1.0.2
idna==2.7
lxml==4.2.5
more-itertools==4.3.0
mysql-connector-python==8.0.15
numpy==1.15.2
pandas==0.23.4
pycparser==2.19
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
spyne==2.12.14
SQLAlchemy==1.2.12
suds==0.4
transaction==2.2.1
urllib3==1.24.2
zope.interface==4.5.0
zope.sqlalchemy==1.0
