bcrypt==3.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cheroot==5.10.0
HydraPlatform==0.1
idna==2.6
lxml==4.1.1
mysql-connector-python==8.0.5
numpy==1.13.3
pandas==0.21.0
pycparser==2.18
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
spyne==2.12.14
SQLAlchemy==1.1.15
suds==0.4
transaction==2.1.2
urllib3==1.22
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
